body {
    background-color: #f8f9fa; 
}

/* Styling für den Hauptcontainer, der das Formular zentriert */
.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; /* Höhe des Containers auf die gesamte Bildschirmhöhe */
}

/* Styling für den Formularcontainer */
.form-container {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    width: 100%; 
    max-width: 400px; 
}

/* Styling für die Überschrift des Formulars */
h1 {
    text-align: center; 
    margin-bottom: 20px; 
    color: black; 
}

/* Styling für die Eingabefelder im Formular */
.form-control {
    margin-bottom: 15px; /* Abstand zwischen den Eingabefeldern */
}

/* Styling für die Fehlermeldung */
.alert-danger {
    margin-top: 5px; /* Abstand oberhalb der Fehlermeldung */
    font-size: 16px; 
}

/* Styling für den Erstellen-Button */
.btn-lila {
    background-color: #D8A7E4; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
}
.btn-lila:hover {
    background-color: #C18ED3; 
}

/* Styling für den Link zur Anmeldung */
.text-center {
    text-align: center; 
    margin-top: 10px; 
}

