/* Hintergrundfarbe der gesamten Seite */
body {
    background-color: #f8f9fa; 
}

/* Container für das Formular */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Formular-Container für die Eingabefelder */
.form-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Styling für Überschrift */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Styling für Formular-Eingabefelder */
.form-control {
    margin-bottom: 15px;
    font-size: 16px;
}

/* Styling für Erfolgsmeldungen */
.alert {
    margin-top: 10px
}

/* Buttons Styling */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-primary {
    background-color: #D8A7E4; 
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #C18ED3; 
    color: black; 
}

.btn-secondary {
    background-color: #d3d3d3; 
    color: black;
    border: none;
}

.btn-secondary:hover {
    background-color: #b0b0b0;
    color: black; 
}

/* Styling für Button-Container */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px;
}



